<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="btn pushable">
                <span id="fwdButton" class="front" (click)="setState($event, 'forward')" (touchstart)="setState($event, 'forward')">
                    <fa-icon class="doubleUpIcon" [icon]="faAngleDoubleUp"></fa-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div id="stopContainer" class="btn pushable">
                <span id="stopButton" class="front" (click)="setState($event, 'stop')" (touchstart)="setState($event, 'stop')">
                    <!-- <fa-icon class="stopIcon" [icon]="faStop"></fa-icon> -->
                    STOP
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div class="btn pushable">
                <span is="revButton" class="front" (click)="setState($event, 'reverse')" (touchstart)="setState($event, 'reverse')">
                    <fa-icon class="doubleDownIcon" [icon]="faAngleDoubleDown"></fa-icon>
                </span>
            </div>
        </div>
    </div>
</div>
